<div class="modal fade" id="projectSearchModel" tabindex="-1" role="dialog" aria-labelledby="projectSearchModel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Search Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="Search.." name="ProjectSearch"
               (input)="searchProject($event.target.value)">
              <br>
              <div class="row">
                <div class="col-md-12 searchTable">
                  <table class="table table-striped table-hovered table-bordered" *ngIf="Projects && Projects.length>0">
                    <thead class="table-primary">
                      <tr>
                        <td></td>
                        <td>Project</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let project of Projects">
                        <td><input type="radio" name="projectID" [value]="project.Project_ID" (change)="selectProject($event.target.value)"></td>
                        <td>{{project.Project}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <label *ngIf="Projects && Projects.length==0">No projects found for search criteria.</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="!enableAdd" (click)="addProject()">Add</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>